<h1><%= @code_object.name %></h1>
<h2>
  Constants
</h2>
<% @code_object.constant_objects.each do |constant| %>
  <%= constant.name %>
  <%= raw constant.value %>
  <br/>
<% end %>

<h2>
  Methods
</h2>
<% @code_object.method_objects.public.each do |constant| %>
  <%= constant.signature %><br/><br/>
  <%= markdown_format constant.docstring %><br/><br/>
<% end %>
